<h1>Edit your flat</h1>
<%= render 'form', flat:@flat  %>


<% if @flat.errors.any? %>
  <div id="error-explanation">
    <h2><%= pluralize(@flat.errors.count, "error")  %>
      not allow to save it.
    </h2>

    <ul>
      <% @flat.errors.full_messages.each do |msg| %>
      <li><%= msg  %></li>
      <% end %>
    </ul>

  </div>
<% end %>
